<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>153266616726-1j62e8gnt357b77b8h5kj09o2el03qka.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.153266616726-1j62e8gnt357b77b8h5kj09o2el03qka</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>153266616726-9fup1bmc4cphm7jkodj3qijd8d71piru.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBeAkfIYBDvmERktTjiPx7JrxBn9Eco7J8</string>
	<key>GCM_SENDER_ID</key>
	<string>153266616726</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.podcastApp</string>
	<key>PROJECT_ID</key>
	<string>podcast-app-a7be7</string>
	<key>STORAGE_BUCKET</key>
	<string>podcast-app-a7be7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:153266616726:ios:92d37cf41fa47fcf3885b7</string>
</dict>
</plist>